---
import siteData from '../../site.json';
import IconFacebook from "../icons/IconFacebook.astro"
import IconYouTube from  "../icons/IconYouTube.astro"
import IconLinkedin from  "../icons/IconLinkedin.astro"
import IconInstagram from  "../icons/IconInstagram.astro"
import Container from './Container.astro';
import ButtonFoot from './ButtonFoot.astro';
---


<footer class="bg-[#F3F0ED] text-gray-800 py-8">
    <Container >
        <div class="flex justify-between items-center">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/LogoNubeRest.png" class="md:h-6 h-5" alt="Logo de NubeRest">
            </a>
            <div>
                <ButtonFoot />
            </div>
        </div>

        <div class="mt-8 grid sm:grid-cols-3 gap-4">
            <!-- Sección de Nosotros -->
            <div>
                <h3 class="text-[24px] font-bold text-[#854937]">Nosotros:</h3>
                <p class="mt-2 text-sm text-[#545454]">{siteData.footer.content.description}</p>
                <p class="mt-4 text-sm text-[#545454]">{siteData.footer.content.email}</p>
                <p class="mt-4 text-sm text-[#545454]">{siteData.footer.content.phone}</p>
                <div class="mt-4 flex space-x-3">
                    <IconFacebook class="text-[#E49542]" /> 
                    <IconYouTube class="text-[#E49542]" />
                    <IconLinkedin class="text-[#E49542]" />
                    <IconInstagram class="text-[#E49542]" />
                </div>
            </div>

            <!-- Sección de Menú -->
            <div>
                <h3 class="text-[24px] font-bold text-[#854937]">Menú:</h3>
                <ul class="mt-2 space-y-2">
                    {siteData.nav.menu.map((item) => (
                        <li>
                            <a href={item.link} 
                               class="py-2 px-3 text-[#545454] text-[17px] font-normal rounded-sm 
                                      hover:bg-[#E49542] lg:hover:bg-transparent lg:hover:text-[#E49542] 
                                      lg:p-0 transition-all">
                                {item.name}
                            </a>
                        </li>
                    ))}
                </ul>
            </div>

            <!-- Sección de Soporte -->
            <div>
                <h3 class="text-[24px] font-bold text-[#854937]">Soporte:</h3>
                <div class="mt-2 flex space-x-3">
                    <div class="w-40 h-20 flex justify-center items-center bg-white rounded-md shadow"><img src="images/incuval.png" alt="Logo de incuval"></div>
                    <div class="w-25 h-20 flex justify-center items-center bg-white rounded-md shadow"><img src="images/scale.jpg" class="w-15" alt="Logo de Scale"></div>
                </div>
            </div>
        </div>

        <div class="text-center text-sm text-gray-500 mt-8">
            Copyright © 2025. NubeRest
        </div>
    </Container>
</footer>

