---
import Container from '../shared/Container.astro';
import siteData from '../../site.json';
import ButtonPrice from './ButtonPrice.astro';

const plans: { [key: string]: { name: string; features: string[]; price: { amount: number; currency: string; frequency: string }; description: string }[] } = siteData.pricing.plans;
const categories = Object.keys(plans);
---
<section id="precio">
<Container class="md:my-24 mb-10 ">
  <div class="flex justify-center">
    <h2 class="text-4xl pb-6 text-center text-[#2B2B2B] font-bold">El plan ideal para ti</h2>
  </div>
  <div class="container mx-auto md:mt-10 px-4 md:px-8">
    <!-- <div class="flex justify-center gap-4 px-2 py-2 items-center bg-[#F3F0ED] p-1 rounded-full shadow-md border border-[#2B2B2B] w-fit mx-auto">  
      {categories.map((category, index) => (
        <button
          class={`md:px-15 py-2 px-8 text-sm md:text-base lg:text-lg font-bold rounded-full transition-colors duration-200 flex-shrink-0 ${index === 0 ? 'bg-[#854937] text-white shadow-lg' : 'bg-white text-gray-800 hover:bg-gray-300'}`}
          data-tab-target
          data-tab-id={category}
        >
          {category === 'monthly' ? 'Mensual' : 'Anual'}
        </button>
      ))}
    </div> -->

    <div data-tab-content class="mt-6">
      {categories.map((category, index) => (
        <div 
          class="grid grid-cols-1 sm:grid-cols-2 gap-8"
          data-tab-pane 
          data-tab-id={category}
          hidden={index !== 0}
        >
          {plans[category].map((plan: { name: string; features: string[]; price: { amount: number; currency: string; frequency: string }; description: string }) => (
            <div class="xl:p-12 p-6 rounded-[40px] shadow-md bg-[#F3F0ED] text-center">
              <div class="flex justify-center gap-2">
                <h2 class="md:text-[40px] text-[36px] font-bold">Plan</h2>
                <h2 class="md:text-[40px] text-[36px] font-bold text-[#854937] md:pb-9 mb-3">{plan.name}</h2>
              </div>
              
              
              <ul class="text-[#2B2B2B] font-bold text-xl my-2 md:pb-12 pd:5">
                {plan.features.map((feature: string) => (
                  <li>✔ {feature}</li>
                ))}
              </ul>

              <div class="flex justify-center gap-2  ">
                <p class="text-4xl font-bold mt-2.5">{plan.price.currency}</p>
                <p class="text-5xl font-bold text-[#2B2B2B] my-2 md:pb-9 pb-3">
                 {plan.price.amount} 
                </p>
                <p class="text-2xl font-semibold mt-4">{plan.price.frequency}</p>
              </div>
              
              
              <p class="text-[#545454] text-[18px] my-2 pb-9">{plan.description}</p>
              <ButtonPrice href={ siteData.pricing.button.link} class="md:py-6 py-3 xl:px-30 px-5  text-[#FFFCFC] font-bold xl:text-xl text-[19px]">{ siteData.pricing.button.text }</ButtonPrice>
            </div>
          ))}
        </div>
      ))}
    </div>
  </div>
</Container>
</section>

<!-- <script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const tabButtons = document.querySelectorAll('[data-tab-target]');
    const tabPanes = document.querySelectorAll('[data-tab-pane]');

    // Función para activar una pestaña
    const activateTab = (selectedTab) => {
      const tabId = selectedTab.dataset.tabId;

      // Cambiar la clase activa en los botones
      tabButtons.forEach(tab => {
        tab.classList.remove('bg-gray-800', 'text-white');
        tab.classList.add('bg-white', 'text-gray-800');
      });

      // Ocultar todos los panes y mostrar el seleccionado
      tabPanes.forEach(pane => {
        pane.hidden = pane.dataset.tabId !== tabId;
      });

      // Activar la pestaña seleccionada
      selectedTab.classList.add('bg-[#854937]', 'text-white');
      selectedTab.classList.remove('bg-white', 'text-gray-800');
    };

    // Añadir evento de click a los botones
    tabButtons.forEach(tab => {
      tab.addEventListener('click', () => activateTab(tab));
    });

    // Activar la primera pestaña por defecto
    if (tabButtons.length > 0) {
      activateTab(tabButtons[0]);
    }
  });
</script> -->
