---
import { getCollection } from 'astro:content';

import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog_contenido');
  return posts.map((post: CollectionEntry<'blog_contenido'>) => ({ 
    params: { slug: post.id }
  }));
}

export async function get({ params }: { params: { slug: string } }) {
  const { slug } = params;
  const posts = await getCollection('blog_contenido');
  const post = posts.find((p: CollectionEntry<'blog_contenido'>) => p.id === slug);

  if (!post) {
    throw new Error(`Post not found for slug: ${slug}`);
  }

  const { title, date, resume } = post.data;

  return {
    body: `
      <article>
        <h1>${title}</h1>
        <p><em>${date.toString()}</em></p>
        <p>${resume}</p>
        <div>${post.body}</div>
      </article>
    `,
  };
}